<!DOCTYPE html>
<html>
<head>
  <title>Mail</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar">
	<div class="navbat=r-inner">
		<div class ="container">
         <a href="http://www.google.com">google </a>
		</div>
	</div>
</div>
<div class="container">

<%= yield %>
</div>
</br>
</br>
</br>
<img src="/logo.png">
<a href="http://www.railsfactory.com">contact us</a>
</body>
</html>
