<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @animal.name %>
</p>


<p>
  <strong>age:</strong>
  <%= @animal.age %>
</p>


<%= link_to 'Back', new_animal_path %></br>
<a href="/">main menu</a>